<hr/>
<form>
    <input type="hidden" id="venue_id" name="venue_id" value="<%= id %>" disabled />

	<label for="venue_name">Venue Name:</label>
	<input type="text" id="venue_name" name="venue_name" value="<%= name %>" />
	<br/>

	<label for="venue_address1">Address 1:</label>
	<input type="text" id="venue_address1" name="venue_address1" value="<%= address1 %>" />
	<br/>

	<label for="venue_address2">Address 2:</label>
	<input type="text" id="venue_address2" name="venue_address2" value="<%= address2 %>" />
	<br/>

	<label for="venue_city">City:</label>
	<input type="text" id="venue_city" name="venue_city" value="<%= city %>" />
	<br/>

	<label for="venue_state">State:</label>
	<input type="text" id="venue_state" name="venue_state" value="<%= state %>" />
	<br/>

	<label for="venue_zip">Zip:</label>
	<input type="text" id="venue_zip" name="venue_zip" value="<%= zip %>" />
</form>
<div>
    <button class="save">Save</button>
	<button class="delete">Delete</button>
</div>
